# Ignore bundler-related configuration.
.bundle/
bin/
vendor/bundle/

# Ignore sensitive files.
config/environment/production.rb
config/database.yml
config/newrelic.yml
config/redis.yml

# Ignore Coveralls.
coverage/

# Ignore logfiles.
log/*.log
