ENV['BREWERY_DB_API_KEY'] ||= 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

Mail.defaults do
  delivery_method :smtp, {
    address: 'smtp.google.com',
    port: 465,
    user_name: 'example@gmail.com',
    password: 'supersecret'
  }
end

Crepe.logger = Logger.new File.open('log/production.log', 'a')
