defaults: &defaults
  adapter: jdbcpostgresql
  username: postgres
  password:
  pool: 5

development:
  <<: *defaults
  database: goodbrews_development

test:
  <<: *defaults
  database: goodbrews_test

production:
  <<: *defaults
  database: goodbrews_production
