---
http_interactions:
- request:
    method: get
    uri: https://api.brewerydb.com/v2/beer/TACnR2/events?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","status":"success","data":[{"id":"huKquc","year":"2012","name":"American
        Craft Beer Fest (ACBF)","description":"The 5th annual American Craft Beer
        Fest (ACBF) is the east coasts largest celebration of American beer,
        featuring over 100 American brewers and over 500 beers!","type":"festival","typeDisplay":"Beer Festival","startDate":"2012-06-01","endDate":"2012-06-02","venueName":"Seaport World Trade Center Boston","streetAddress":"200 Seaport Blvd","locality":"Boston","region":"Massachusetts","postalCode":"02210","countryIsoCode":"US","latitude":42.350041,"longitude":-71.041741,"website":"http:\/\/beeradvocate.com\/acbf\/","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/huKquc\/upload_iykplk-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/huKquc\/upload_iykplk-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/huKquc\/upload_iykplk-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-27 20:32:46","updateDate":"2012-01-27 20:32:49","country":{"isoCode":"US","name":"UNITED STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03 02:41:33"}}]}'
  recorded_at: Mon, 02 Dec 2013 16:46:46 GMT
recorded_with: VCR 2.8.0
