---
http_interactions:
- request:
    method: get
    uri: https://api.brewerydb.com/v2/beer/TACnR2?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":"TACnR2","name":"60
        Minute IPA","description":"Our 60 Minute IPA is continuously hopped - more
        than 60 hop additions over a 60 minute boil (getting a vibe yet of where the
        name came from?). 60 Minute is a session India Pale Ale brewed with a slew
        of great NorthWest hops. A powerful, but balanced East Coast I.P.A. with a
        lot of citrusy hop character. The session beer for hardcore beer enthusiasts!","abv":"6","ibu":"60","glasswareId":5,"availableId":1,"styleId":30,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/TACnR2\/upload_X7BCvY-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/TACnR2\/upload_X7BCvY-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/TACnR2\/upload_X7BCvY-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:42:37","updateDate":"2013-01-23 14:37:44","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":1,"name":"Year Round","description":"Available
        year round as a staple beer."},"style":{"id":30,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        India Pale Ale","description":"American-style India pale ales are perceived
        to have medium-high to intense hop bitterness, flavor and aroma with medium-high
        alcohol content. The style is further characterized by floral, fruity, citrus-like,
        piney, resinous, or sulfur-like American-variety hop character. Note that
        one or more of these American-vari[...]
