---
http_interactions:
- request:
    method: get
    uri: https://api.brewerydb.com/v2/event/TGtEbk?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":"TGtEbk","year":"2011","name":"Great
        American Beer Festival","description":"The Great American Beer Festival (GABF)
        is a three-day annual event hosted by the Brewers Association, held in Denver,
        Colorado.  The festival runs from 29 September through 1 October. The GABF
        brings visitors from around the world to sample more than 2,000 different
        American beers. Over 100 beer judges from the United States and abroad evaluate
        beer in the associated competition, ultimately judging 3,300 beers entered
        by almost 500 domestic breweries. Gold, silver and bronze medals in 83 beer-style
        categories are awarded, though not every medal is necessarily awarded in each
        category.","type":"festival_competition","typeDisplay":"Combo Festival\/Competition","startDate":"2011-09-29","endDate":"2011-10-01","time":"Thu,
        Fri, & Sat: 5:30PM - 10:00PM","price":"$60 ($20 for Designated Driver Tickets)","venueName":"Colorado
        Convention Center","streetAddress":"700 14th Street","extendedAddress":"Hall
        F","locality":"Denver","region":"Colorado","postalCode":"80202","countryIsoCode":"US","latitude":39.743365,"longitude":-104.994721,"website":"http:\/\/www.greatamericanbeerfestival.com\/","phone":"303-447-0816","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/TGtEbk\/upload_Eh49UQ-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/TGtEbk\/upload_Eh49UQ-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/event\/TGtEbk\/upload_Eh49UQ-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-04
        18:53:01","updateDate":"2012-03-08 20:08:41","country":{"isoCode":"US","name":"UNITED
        STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03
        02:41:33"}},"status":"success"}'
  recorded_at: Sun, 08 Dec 2013 22:39:18 GMT
- request:
    method: get
    uri: https://api.brewerydb.com/v2/event/TGtEbk/breweries?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":9,"totalResults":425,"data":[{"eventId":"TGtEbk","event":{"id":"TGtEbk","year":"2011","name":"Great
        American Beer Festival","description":"The Great American Beer Festival (GABF)
        is a three-day annual event hosted by the Brewers Association, held in Denver,
        Colorado.  The festival runs from 29 September through 1 October. The GABF
        brings visitors from around the world to sample more than 2,000 different
        American beers. Over 100 beer judges from the United States and abroad evaluate
        beer in the associated[...]
- request:
    method: get
    uri: https://api.brewerydb.com/v2/event/TGtEbk/beers?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"currentPage":1,"numberOfPages":1,"totalResults":7,"data":[{"eventId":"TGtEbk","beerId":"ezGh5N","isPouring":"Y","createDate":"2012-01-13
        20:14:00","beer":{"id":"ezGh5N","name":"(512) IPA","description":"(512) India
        Pale Ale is a big, aggressively dry-hopped American IPA with smooth bitterness
        (~65 IBU) balanced by medium maltiness. Organic 2-row malted barley, loads
        of hops, and great Austin water create an ale with apricot and vanilla aromatics
        that lure you in for more.","abv":"7.2","ibu":"65","glasswareId":5,"availableId":1,"styleId":30,"isOrganic":"N","labels":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/ezGh5N\/upload_xgJp8I-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/ezGh5N\/upload_xgJp8I-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/beer\/ezGh5N\/upload_xgJp8I-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:42:36","updateDate":"2013-10-08 11:11:49","glass":{"id":5,"name":"Pint","createDate":"2012-01-03
        02:41:33"},"available":{"id":1,"name":"Year Round","description":"Available
        year round as a staple beer."},"style":{"id":30,"categoryId":3,"category":{"id":3,"name":"North
        American Origin Ales","createDate":"2012-03-21 20:06:45"},"name":"American-Style
        India Pale Ale","description":"American-style India pale ales are perceived
        to have medium-high to intense hop bitterness, flavor and aroma with medium-high
        alcohol content. The style is further characterized by floral, fruity, citrus-like,
        piney, resinous, or sulfur-like American-variety hop character. Note that
        one or more of these American-vari[...]
- request:
    method: get
    uri: https://api.brewerydb.com/v2/event/TGtEbk/socialaccounts?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":[{"id":1,"event[...]
