---
http_interactions:
- request:
    method: get
    uri: https://api.brewerydb.com/v2/location/Mq24sa?key=secret_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - Unlimited
      X-Ratelimit-Remaining:
      - Unlimited
    body:
      encoding: UTF-8
      string: '{"message":"READ ONLY MODE: Request Successful","data":{"id":"Mq24sa","name":"Main
        Brewery","streetAddress":"6 Cannery Village Center","locality":"Milton","region":"Delaware","postalCode":"19968","phone":"302-684-1000","website":"http:\/\/www.dogfish.com\/","latitude":38.770622,"longitude":-75.310893,"isPrimary":"Y","inPlanning":"N","isClosed":"N","openToPublic":"Y","locationType":"micro","locationTypeDisplay":"Micro
        Brewery","countryIsoCode":"US","yearOpened":"1995","status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:53","updateDate":"2012-03-21 20:05:25","breweryId":"g0jHqt","brewery":{"id":"g0jHqt","name":"Dogfish
        Head Craft Brewery","description":"The story of Dogfish Head began in June
        of 1995 when we opened Dogfish Head Brewings & Eats, the first state''s first
        brewpub opened in the resort beach community of Rehoboth Beach, Delaware.
        The plan was to bring original beer, original food, and original music to
        the area.\r\n\r\nNot only was Dogfish Head Delaware''s first brewpub, it was
        the smallest commercial brewery in America. Our very first batch, Shelter
        Pale Ale, was brewed on a system which essentially was three little kegs with
        propane burners underneath. Brewing 12 gallon batches of beer for a whole
        restaurant proved to be more than a full time job. When the doors to the pub
        first opened, we brewed three times a day, five days a week! The one benefit
        to brewing on such a small system was the ability to try out a myriad of different
        recipes. We quickly got bored brewing the same things over and over that''s
        when we started adding all sorts of weird ingredients and getting kind of
        crazy with the beers!","website":"http:\/\/www.dogfish.com\/","established":"1995","isOrganic":"N","images":{"icon":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/g0jHqt\/upload_WaJNQt-icon.png","medium":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/g0jHqt\/upload_WaJNQt-medium.png","large":"https:\/\/s3.amazonaws.com\/brewerydbapi\/brewery\/g0jHqt\/upload_WaJNQt-large.png"},"status":"verified","statusDisplay":"Verified","createDate":"2012-01-03
        02:41:53","updateDate":"2013-08-24 13:07:38"},"country":{"isoCode":"US","name":"UNITED
        STATES","displayName":"United States","isoThree":"USA","numberCode":840,"createDate":"2012-01-03
        02:41:33"}},"status":"success"}'
  recorded_at: Sun, 08 Dec 2013 23:32:42 GMT
recorded_with: VCR 2.8.0
