<p>
  Hey there, <%= display_name %>! To reset your password, click the following
  URL or paste it into your browser:
</p>

<p>
  <a href="https://goodbre.ws/reset_password/<%= password_reset_token %>">https://goodbre.ws/reset_password/<%= password_reset_token %></a>
</p>

<p>
  This password reset request is only valid for the next two hours. If you did
  not make this request, simply ignore this email and your password will not
  change. Drink safely!
</p>

<p>
  &mdash; goodbre.ws
</p>
