<p>Hey there, <%= display_name %>!</p>

<p>
  Thank you for joining goodbre.ws! I hope you'll enjoy using it to further your
  beer discovery experience. Feel free to ask any questions or voice any comments
  or concerns on <a href="https://github.com/davidcelis/goodbre.ws/issues">our issue/comment tracker</a>.
</p>

<p>
  Please keep in mind that goodbre.ws is run lovingly by just me. I can't answer
  all emails, but I'll try to address all issues as promptly as I can! If you end
  up loving goodbre.ws as much as I do, consider making a small, (possibly recurring)
  donation on <a href="http://gittip.com/davidcelis/">Gittip</a>. Thanks again
  for joining, and drink safely!
</p>

<p>
  &mdash; goodbre.ws
</p>
